.cart-page{
    padding-top:100px;
}

.cart__title{
    text-decoration: none;
    color:black;
}
.cart__title:hover{
    text-decoration: none;
    color:blue;
}

.btndelete {
    border-color: #FF2829!important;
    background-color: #FF5B5C!important;
    color: #FFF;
    width: 24px;
}

tbody{
    text-align: center;
}
tr{
    text-align: center;
}

.cart-page .image1{
    display: flex;
    justify-content: center;
  
}
.cart-page img{
    width: 80px;
    height: 80px;
    
}

.total{
    color:
    #dd4349;
}
thead{
    background-color: #002147;
    color:white
}