/* Catalogue */


.catalogue__wrap {
    padding-top: 150px;
    padding-bottom: 50px;
    width: 94%;
    margin: auto;
  
  }
  
  .catalogue__item {
    width: 12.5%;
    border: 1px solid rgba(0, 0, 0, .05);
    text-align: center;
    padding-top: 20px;
    transition: all 0.4s ease-in;
    background-color: white;
  
  
  }
  

  
  .catalogue__item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f4f4f4;
    box-shadow: 0px 1px 40px 0px rgb(0 0 0 / 10%);
    object-fit: cover;
  
  }
  
  .catalogue__item h4 {
    color: black;
    font-size: 16px;
  }
  
  .catalogue__item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 1px 40px 0px rgb(0 0 0 / 30%);
  }