/* Products */

.latest-products {
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
  
  
  }
  
  .latest-products a{
      text-decoration: none;
  }
  .container-x {
    margin: auto;
    width: 94%;
  }
  
  .latest-products .section-heading a {
    float: right;
    margin-top: -35px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #f33f3f;
  }
  
  .section-heading {
    padding-bottom: 40px;
  }
  
  .section-heading h2 {
    text-align: center;
    font-size: 2.5rem;
  }
  
  .product-item {
    border: 1px solid #eee;
    background-color: #e3f2fd;
    margin-bottom: 30px;
    border-radius: 6px;
   padding-bottom: 30px;
  
  }
  
  .product__img {
    padding: 20px 30px;
    width: 100%;
  
  
  }
  
  .product-item .down-content {
    height: 60px;
    padding: 0 30px;
    /* display: flex;
    justify-content: space-between; */
  }
  
  
  .product-item img {
    width: 100%;
    height: 180px;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
  
  }
  
  .product-item:hover img {
    transform: scale(1.1);
  }
  
  
  .product-item .down-content h4 {
    font-size: 16px;
    color: #df4107;
    height: 40px;
    text-decoration: none;
  }
  
  .product-item .down-content h6 {
    font-size: 16px;
    color: #3b2e2a;
    padding-top: 0;
    text-align: right;
    padding-right: 10px;
  }
  
  .product-item .down-content p {
    margin-bottom: 20px;
  }