/* PROFILE */
.profile {
  padding-top: 200px;
  padding-bottom: 500px;
  background-color: #e3f2fd;
}

.form-group2 {
  display: flex;
  margin-bottom: 20px;

}

.form-group2 input {
  border-radius: 4px;
  width: 50%;
  padding: 10px 15px;
  background-color: #f8f8f8;
  outline: none;
  border-color: none;

}

.lb {
  width: 200px;
}

.form-group2 a {
  text-decoration: none;
  margin-left: 20px;

}

.form-group2 a:hover {
  color: #fdc800;

}

.btn {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-bottom: 20px;
}

.btnSubmit {
  text-align: center;
  padding: 5px 30px;
  background-image: linear-gradient(to right, #ffb347 0%, #ffcc33 51%, #ffb347 100%);
  background-size: 200%;
  border: none;
  color: #000;
  transition: all 0.5s;
  font-weight: 500;
}

.btnSubmit:hover {
  background-position: right;
}

.form-profile input {
  width: 50%;
}

.form-pr .form-inner .form-profile label {
  color: blue;
  font-weight: 600;
}