@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');

.productDetail {
  background-color: #e3f2fd;

}

.productDetail--main {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding-top: 100px;
}

.productDetail__container {
  margin: auto;
  width: 94%;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 100px;
}

.product--detail--img {
 background-color: white;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.product--detail--img img {
  width: 250px;
  height: 250px;
}

.product-detail--pd {

  background-color: white;
 
position: relative;
  padding: 20px;
  

}


.des{
 padding-top: 20px;
}
.list {
position: absolute;
right: 10px;

} 
.list a{
  text-decoration: none;
}



.product-detail--pd h1 {
  font-family: 'Old Standard TT', serif;
  display: inline-block;
  font-size: 34px;
  color: #344055;
  margin: 0;
}

.product-detail--pd p {
  font-family: 'Farsan', cursive;
  text-align: center;
  font-size: 20px;
  color: #7d7d7d;
}

.name__nav {
  border: black 1px dashed;
  border-radius: 10px;
  color: black;
}

.name__nav.active {
  background-image: linear-gradient(to right, #ffb347 0%, #ffcc33 51%, #ffb347 100%);
  background-size: 200% auto;
}

.name__nav:hover {
  color: black;
}

.nav-link {
  display: inline !important;
}

.hYduXk {
  background-color: white !important;
}


.productDetail button {
  background-image: linear-gradient(to right, #ffb347 0%, #ffcc33 51%, #ffb347 100%);
  background-size: 200%;
  border: none;
  transition: all 0.5s;
}

.productDetail button:hover {
  background-position: right;
  color: white;
}

/* the Button */
.btn {
  transform: translateY(0px);
  transition: 0.3s linear;
  background: #49C608;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
  color: #eee;
  padding: 0 !important;

  

}

.btn:hover {
  transform: translateY(-4px);
}

.btn span {
  font-family: 'Farsan', cursive;
  transition: transform 0.3s;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 0;

}

.mybtn{
  width: 200%;
  display: flex;
  justify-content: center;
}

/* shopping cart icon */
.btn .price, .shopping-cart {
  background: #333;
  border: 0;
  margin: 0;
  color: #fff !important;

}

.btn .price {
  transform: translateX(-10%);
  padding-right: 15px;
}

/* the Icon */
.btn .shopping-cart {
  transform: translateX(-100%);
  position: absolute;
  background: #333;
  z-index: 1;
  left: 0;
  top: 0;

}

/* buy */
.btn .buy {
  z-index: 3;
  font-weight: bolder;
}

.btn:hover .price {
  transform: translateX(-110%);
}

.btn:hover .shopping-cart {
  transform: translateX(0%);
}


.product-detail--wrap {

  width: 50%;

}

.productdetail__fl{
  display: flex;
  align-items: center;
}