.wrap {
    padding-top:100px;

}

.wrap h1 {
    font-family: 'Praise', cursive;
    text-align: center;
    font-size: 38px;
    color: black;
    font-weight: 100;
}

form {
    display: block;
    position: relative;

}

form .form-inner {
    position: relative;
    display: block;
    background-color: #fff;
    padding: 50px 60px;
    border-radius: 4px;


}

form .form-inner h2 {

    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;

}

form .form-inner h2:after {
    content: "";
    width: 50%;
    height: 2px;
    background-color: #fdc800;
    display: block;
    margin: auto;
    margin-top: 10px;

}

form .form-inner .form-group {
    display: block;
    
    margin-bottom: 15px;
    margin-right: 15px;
}

.form-inner .form-group label {
    display: block;
    color: #666;
    margin-bottom: 5px;
    transition: 0.4s;
}

.form-inner .form-group:focus-within label {
    color: #FE4880;
}


form .form-inner .form-group input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #f8f8f8;
    border-radius: 8px;
    transition: 0.4px;
}

form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}



.radiogender {
    display: flex;
}

.radiogender .radioChild {
    margin-left: 20px;
    display: flex;
}

.btnsubmit {
    display: flex;
    justify-content: center;
    margin-top:20px;
    
}
.btnsubmit button{
    
}



form input[type="submit"] {
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #ffb347 0%, #ffcc33 51%, #ffb347 100%);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    width: 50%;

}

form input[type="submit"]:hover {
    background-position: 100% 0%;
}


.ready{
    margin-bottom: 20px;
}
.linklogin{
    text-decoration: none;
    margin-left: 10px;
}
.linklogin:hover{
    text-decoration: none;
    color:red;
}

.form-group span::before{
    display: inline;
    content: "⚠";
}