#header {
    position: fixed !important;
    background: #002147;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transition: all 0.8s linear;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';

}

.nav-link {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    color: #fff !important;
    display: flex;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    padding:0 10px!important;
   
}

.nav-link:hover {
    color: #fdc800 !important;
    text-decoration: none;
}



.nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 4px;
    background-color: #fdc800;
    display: block;
    transition: all 0.4s linear;
    top: 30px;

}

.nav-link:hover::before {
    width: 100%;
}

.nav-link:visited {
    color: #fdc800 !important;
}

.nav__logo {
    width: 80px;
    height: 100%;
    margin-right: 20px;
}

form input, button {
    border: none;
    outline: none;
}

.search-container {
    float: right;
}

.search-container form{
    display: flex;
}
.search-container input[type=text] {
    padding: 6px 10px;
    font-size: 17px;
    box-shadow: 0px 1px 40px 0px rgb(0 0 0 / 10%);
    width: 400px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #fff;

}

.search-container button {
    padding: 6px 10px;
    margin-right:60px;
    font-size: 17px;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(to right, #ffb347 0%, #ffcc33 51%, #ffb347 100%);
    background-size: 200%;
    transition: all 0.5s ease-in-out;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    outline: none;

}

.search-container button:hover {
    background-position: right center;

}

.unnavlink {
    margin-right: 20px;

}

.unnavlink::before {
    display: none;
}
.unnavlink:hover{
    color:none;
}

.iconUser {
    font-size: 16px;
    color: #fff;
}



.iconCart {
    font-size: 24px;
    width: 40px;
    height: 40px;


}

#btnInOut {
    border: solid 2px #fdc800;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #fff;
    display: block;
    line-height: 34px;
   
  
}

.btnInOut1{
    margin-left:60px;
    
}


#btnInOut:hover, #btnInOut:focus {
    background-position: right center;
    color: #000 !important;
    text-decoration: none;
    box-shadow: 
    inset -3.5em 0 0 0 #fdc800,
    inset 3.5em 0 0 0 #fdc800;  

}


@media screen and (min-width:576px) {
    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
  }
  
  @media screen and (min-width:768px) {
    .container-fluid {
        padding-left: 25px;
        padding-right: 25px;
    }
  }
  
  @media screen and (min-width:992px) {
    .container-fluid {
        max-width: 100%;
        padding-left: 25px;
        padding-right: 25px;
       
    }
  }
  
  @media screen and (min-width:1200px) {
    .container-fluid {
        max-width: 100%;
        padding-left: 25px;
        padding-right: 25px;
      
    }
  }
  @media screen and (min-width:1280px) {
    .container-fluid {
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
    }
  }
