/* Add Product */
.image {
    position: relative;
    filter: contrast(40%);

}

.wrap__main .img1 {
    height: 50%;
    width: 60%;
    position: absolute;
    border-radius: 10px;
    left: 60px;
}

.wrap__main .img2 {
    position: absolute;
    height: 50%;
    width: 60%;
    border-radius: 10px;
    right: 20%;
    top: 200px;
}


.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    width: 100%;
    background-color: #e3f2fd;
    margin-top: 50px;
    padding:40px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: black;
    text-align: center;
}

.login-box .user-box {
    position: relative;
    margin-top: 10px;

}

.login-box .user-box input {
    width: 50%;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1.5px solid black;
    outline: none;
    background: transparent;
    filter: contrast(0%) blur(0%);
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    pointer-events: none;
    transition: .5s;
}

.product__select {
    margin-left: 20px;
}

.product__select:focus .product__label--type {
    color: blue;
}

.login-box label {
    color: blue;
    font-size: 14px;
    font-weight: 600;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: blue;
    font-size: 14px;
    font-weight: 600;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #002147;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a span {
    position: absolute;
    display: block;
}

.btnAdd {
    width: 100% !important;
    display: flex;
    justify-content: center;
    margin-top:40px;
    
}

.btnAdd .btnSubmit{
    width: 20%;
}

.user-box1 {
    width: 50%;
}

.user-mg{
    margin-bottom: 20px;
}
.user-mgg{
    margin-bottom: 40px;
}