/* FOOTER */
footer {

  background-color: #002147;
  position: relative;
  color: #fff;
  margin-top: 100px;
 
}

.footer__container {
  width: 94%;
  margin: auto;

}

.footer__main {
  display: flex;
  justify-content: space-between;

}

.footer__main ul {
  list-style: none;
  padding:0;


}

.footer__main h1 {
  font-size: 26px;
  margin-bottom: 30px;
}

.footer__main ul a {
  text-decoration: none;
  color: #fff;
  display: block;
  margin-top: 14px;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}



.footer__info img {

  width: 80px;
  height: 80px;
  padding-top:10px;
}

.footer__contact {
  display: flex;
  font-size: 14px;
  margin-bottom: 14px;
  align-items: center;

}

.footer__contact a {
  color: white;
  background-image: linear-gradient(to right, #ffb347 0%, #ffcc33 51%, #ffb347 100%);
  background-size: 200%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  margin-right: 14px;
  transition: all 0.4s linear;
}

.footer__contact a:hover {
  background-position: right center;

}

.footer__before {
  position: relative;
  padding-top: 10px;
  

}

.footer__before h1 {
  display: inline-block;
  padding-bottom: 6px;
 
}

.footer__before h1 {
  border-bottom: 3px solid #fdc800;

}


.footer__before ul a {
  position: relative;
}


.footer__before i {
  margin-right: 4px;
}



.footer__social {
  display: flex;

}

.footer__social a {
  margin: 0px 20px;
  font-size: 30px;
  color: #fdc800;

}

.footer__social a:hover {
  color: #fff;

}



.footer__bottom {
  position: absolute;
  right: 30px;
  bottom: 0;
}

.footer__bottom--wrap a {
  color: #fdc800;
}

.footer__bottom--wrap a:hover {
  color: #fdc800;
}

.footer__link svg {
  margin-right: 20px;
}

.footer__link a:hover {
  color: #fdc800;
}

.footer__payment img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 20px;
  margin-bottom: 30px;
}


.footer__backtotop {
  position: absolute;
  right: 0;
  top: -60px;

}

.scrolltotop a {

  background-color: #fdc800;
  border-radius: 10px;
  color: white;
  float: right;
  font-size: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;

}

.footer__contact--parent{
    padding-top:40px;
}