.wrap_product {
  padding-top: 0;
}

.AllProduct__shop {
  margin-top: 100px;
  border: rgba(0, 0, 0, .05) 1px solid;
}

.AllProduct h6 {
  font-weight: 600;
}

.AllProduct__title {
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;

}

.AllProduct__titile .email {
  width: 40%;
  text-align: center;
}

.AllProduct__titile .fullname {
  width: 20%;
  text-align: center;
}

.AllProduct__titile .phone {

  text-align: center;
}

.AllProduct__content>a {
  text-decoration: none;
  color: #666;

}


.AllProduct__item {
  display: flex;
  font-size: 14px;
  border-bottom: 1px rgba(0, 0, 0, .09) solid;
  padding-top: 10px;
  height: 50px;


}
.AllProduct__item .email{
  width: 10%;
  text-align: center;
}
.AllProduct__item .fullname{
  width: 30%;
  text-align: center;
}

.AllProduct__item:hover {
  color: #002147;
  box-shadow: 0px 1px 40px 0px rgb(0 0 0 / 10%);
  font-weight: 500;
}

.AllProduct__item img {
  width: 50px;
  height: 100%
}

.content__dele {
  color: red;
  width: 10%;
}

.content__edit {
  color: green;
  width: 10%;
}


.product__name {
  width: 140px;
  color: #fdc800;

}

input {
  width: 50%;
}

.add-category-box{
  padding-top:200px;
}

.user-box input {width: 100px;
display: block;}