.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-control:hover,
.form-control:active,
.form-control:focus {
  box-shadow: none !important;
}

.register,
.login {
  padding: 30px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 30px;
}

.error {
  color: red;
  font-size: 13px;
}

.card.product {
  margin-bottom: 20px;
}

.card.product .product__title a {
  font-size: 17px;
  text-decoration: none;
}

.card.product .product__price {
  font-size: 15px;
}

.card.product .card-body {
  padding: 5px;
}

.product-detail .image {
  width: 100%;
}

.product-detail .image img {
  width: 100%;
}

.product-detail .product-detail__shop {
  display: block;
  border-bottom: 1px solid #dee2e6;
}

.product-detail__intro {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.product-detail .product-detail__intro .price {
  font-weight: 700;
}

.product-detail .btn-add-to-cart-lg {
  font-size: 36px;
  width: 100%;
  min-height: 200px;
  border: 0;
  font-weight: 700;
  margin-top: 20px;
}

.product-detail__content .title {
  margin-top: 50px;
  border-bottom: 1px solid #dee2e6;
}

.product-detail .input-quantity {
  padding: 5px;
  width: 150px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-right: 10px;
}

.cart-header {
  position: relative;
}

.cart-header .total-cart {
  position: absolute;
  z-index: 1;
  top: -9px;
  right: -13px;
  width: 18px;
  height: 18px;
  font-size: 13px;
  background: red;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}

.cart-page input{
  border: 1px solid #ced4da;
  padding: 5px;
  max-width: 100px;
  text-align: center;
  border-radius: 5px;
}

.cart-page .td-total,
.cart-page .td-action {
  min-width: 200px;
}

.cart-page .image {
  width: 80px;
}

.cart-page .image img {
  width: 100%;
  height: 100%;
}

.cart-page > .row {
  margin-top: 60px;
}

.cart-page table td {
  vertical-align: middle;
}

.iconUser {
  font-size: 16px;
}

.pagination {
  justify-content: center;
}

.pagination ul {
  list-style: none;
  display: flex;
}

.pagination ul li a {
  padding: 10px 15px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da87;
  border-right: none;
}

.pagination ul li.selected a:hover {
  color: #fff !important;
}

.pagination li.selected a {
  background: #002146;
  color: #fff;
}

.pagination li.disabled a {
  color: #3333334a;
}

.pagination ul li:last-child a {
  border-right: 1px solid #ced4da87;
}